{% extends 'base.html.twig' %}

{% block title %}Questionnaire aidant {% endblock %}

{% block body %}
   <div class="row">
       <div class="col-8 offset-2">
           {{ form(surveyForm) }}
       </div>
   </div>
{% endblock %}
